[2017-08-08 08:06] butterl opened #3 "Can I use this in ARM64 for Android?"
Hi
From the Read me seems ARM64 is not said support, is there a possible  to run it on ARM64 android phone ?
BRs,
Chao

[2017-08-08 08:51] rli9 commented on #3
Currently it doesn't support OS like Android. The running environment like packages on Android are quite different than usual Linux distribution, that we haven't done investigation yet to know the gaps and effort.

[2017-08-21 08:50] butterl commented on #3
Hi rli9,
Thanks for your reply !
So the main issue is the cross compile or maybe some ARM/AARch64 support patches are also needed in the lkp-tests suits?

Thanks!

[2017-08-24 04:50] rli9 commented on #3
we use "lkp run" tool to execute tests, which involves the usage like apt-get/yum (can refer to distro/installer). So to make android part work, it is mostly to add support for how we pack the test suites, install required dependencies.

[2017-09-11 09:44] bonanDong opened #6 "the fsmark case restart."
I am a loyal user of LKP, and LKP does provide a lot of convenience for our kernel testing.
     NOW I have a question to ask for advice.
     The scenes is as follows: We have a set of automated distributed execution frameworks from "Patch Crawl, Analysis, Compilation, Test (LKP) to Patch Recommendation", but in the part of Test (LKP),after running the disk cases (fsmark, fio, etc.),I must restar

[2017-09-26 02:57] #6 closed

[2018-06-28 03:18] openluopworld opened #10 "Errors in job.rb when running job"
Hi, the command `lkp split jobs/hackbench.yaml` gets the following error on my Linux 3.13.0-24-generic x86-64.
[code]
The `lkp install` runs well and the dependencies have been installed. So what may be the problem? Thanks.

[2018-06-28 06:40] openluopworld commented on #10
I have tried 2.0 and 2.3, but both did not work.
[code]

Here are the steps:
1) Download the source code of 2.0.0-p648 ( or 2.3.6)
2) install
[code]
3) After installation, the ruby has been updated to the higher version.

[2018-06-28 06:50] #3 closed

[2018-06-28 06:53] rli9 commented on #10
sorry for non complete doc, here it misses required ruby gems after initial problems is solved.

you can try below. And it may still miss other gems, and we will follow up to fix in case Gemfile has issue.
[code]

[2018-06-28 07:13] openluopworld commented on #10
Get it. Thanks so much for your fast reply and help.

[2018-06-28 09:23] #10 closed

[2018-07-08 14:40] Desperatesonic opened #12 "can‘t find directory：tools/perf ,while i install the atomic job"
emmm, i am a greenhand, and i completely followed the reference to use lkp. After git clone lkp-test, make install, lkp install, split job,  I installed an atomic job--''./hackbench-50%-threads-socket.yaml'' . I could see from the command line that it showed 'making perf benchmark for centos'. after a while , it failed ,and showed that:
 "/root/lkp-tests/pack/perf: line 17: cd: tools/perf: No such

[2018-07-09 01:02] rli9 commented on #12
thanks Desperatesonic for feedback, we will look into this asap.

[2018-07-09 01:20] zhijianli88 commented on #12
It's probably that it failed to clone the linux tree. could you share more log details.

[2018-07-09 01:30] zhijianli88 commented on #12
@Desperatesonic  if you already have a local linux tree, create a soft link under / like, which can tell lkp to use you local repo instead of cloning from web
[code]

[2018-07-09 02:22] Desperatesonic commented on #12
@zhijianli88  hello ，I am back. after 11 hours , a few seconds ago i try ' lkp install ./hackbench-50%-threads-socket.yaml ' again. and it shows some different log, I dont know whether it's ok now, and I feel very strange because between this 11 hours  I haven't done anything to it.
          here is the log:

 Nothing to do
Making perf benchmark for centos
  BUILD:   Doing 'make -j8' parallel bui

[2018-07-09 03:17] zhijianli88 commented on #12
check whether perf is installed successfully, below is a good example
[code]
if perf have been installed, you can go ahead, lkp run xxx.yaml like
[code]

[2018-07-09 04:10] Desperatesonic commented on #12
@zhijianli88 thank you so much for your help，I already make sure there is “/lkp/benchmarks/perf/” ， but when I run "lkp run ./hackbench-50%-threads-socket.yaml" , new error comes out:

2018-07-09 10:33:25 /usr/local/bin/hackbench -g 4 --threads -l 60000
Running in threaded mode with 4 groups using 40 file descriptors each (== 160 tasks)
Each sender will pass 60000 messages of 100 bytes
Time: 23.48

[2018-07-09 05:36] zhijianli88 commented on #12
could you mind to upgrade the ruby to 2.3 or later : https://tecadmin.net/install-ruby-previous-stable-centos/
[code]
and install and run lkp again
[code]

[2018-07-09 10:54] Desperatesonic commented on #12
@zhijianli88 Thank you so much，it seems alright and i can survive from my boss。here is my last question ：how can I know about those detail’s meaning ，such as ‘softirqs.CPU2.TIMER": 2340202,’, ofcourse I know about softirqs or cpu or timer , But I dont know what's the number's meaning and what is the Unit(单位).  and there is a lot of Abbreviations,  where can I find more reference , and everytime I

[2018-07-10 01:44] zhijianli88 commented on #12
Congratulation, you are so cute :)
lkp-tests will format all raw ouputs to json which is easy to be understood by lkp.
Actually, i'm not clear to all as well,  you can check the raw output if you want to know more details.

the details are recorded at $result/job.yaml which contains you host info, job parameters etc.

[2018-07-12 03:52] #12 closed

[2018-09-18 08:13] SCHEN2015 opened #17 "Testing blocked by an issue from time.rb"
While testing with CentOS 7.5, I encountered the following issue which has blocked the report from generating.

# Description
[code]

# Debug Log
[code]

And there is no outputs can be found in /dev/shm/lkp-stats.RGn0CrLi.

# How reproducible
100%

# Step to reproduce
[code]
# Version-Release number of selected component
[code]

# Additional information
1. This problem can also be reproduced on RH

[2018-09-18 08:42] SCHEN2015 commented on #17
Yes, I can reproduce it by this command.
[code]

[2018-09-18 09:00] zhijianli88 commented on #17
the mpstat format we expects should be:
[code]

could you list part of yours

[2018-09-18 15:18] #17 closed

[2018-09-26 08:44] SCHEN2015 opened #19 "An issue about ftrace has blocked the testing on CentOS 7.5"
While testing with CentOS 7.5, I encountered the following issue which has blocked the report from generating.

Description:
`2018-09-26 08:19:34 ERROR -- /root/lkp/lkp-tests/sbin/dump-stat ftrace  exit code 1, check /lkp/result/dd-write/10m-1HDD-cfq-xfs-1dd/ip-10-22-2-38.us-west-2.compute.internal/centos/x86_64-rhel-7.2/gcc-7/4.9.112-32.el7.x86_64/0/ftrace.*.yaml`

[code]

Step to reproduce:
[cod

[2018-09-27 02:17] zhijianli88 commented on #19
thank for your report.
could you try
[code]
with following changes

[code]

[2018-09-27 03:40] zhijianli88 commented on #19
it's okay on my CentOS 7.5
[code]

[2018-09-27 09:34] SCHEN2015 commented on #19
That's OK for me.

[code]

[2018-09-28 07:58] SCHEN2015 opened #20 "Question about using `lkp ncompare`"
I'm so sorry to disturb you. But after studying many articles (blog/pdf/slides/README.md) I still can not get `lkp ncompare` to run successfully.

For example: in https://01.org/zh/node/15555 it says:
`# lkp ncompare -s commit=9e66317d3c92ddaab330c125dfe9d06eee268aff -o commit=a11c3148ba6b8b4cac4876b7269d570260d0bd41`
But I have no idea about where to get the commit id.

Does `lkp ncompare` comman

[2018-09-29 01:00] hying-caritas commented on #20
Commit is the kernel version you use, for example "3.10.0-862.el7.x86_64" in your results.  But you need to compare different kernel versions, so you need to run the test in another kernel version too.

It's possible to compare with other axis key.  Please try

$ lkp ncompare -h

And use "-c" to specify axis key.

[2018-09-29 03:43] SCHEN2015 commented on #20
Will try to upgrade the kernel and run a benchmark (unixbench) to compare.
Sorry I didn't get the idea to run `lkp ncompare` against the following results:
[code]
Could you help clarify the usage and/or give me an example?

Sorry for inconvenience.

[2018-09-29 04:38] SCHEN2015 commented on #20
After trying another kernel, I still can not run `lkp ncompare` successfully.

[code]

The `lkp ncompare` command has no outputs.
[code]

[2018-09-29 04:42] yhuang-intel commented on #20
At least 3 runs for 1 kernel are needed to compare.

[2018-09-29 05:27] SCHEN2015 commented on #20
OK. Will try it. Suggest to add some outputs there if no enough samples. Thanks!

[2018-09-29 06:31] yhuang-intel commented on #20
Try

$ lkp ncompare -s commit='3.10.0-862.19.1.el7.x86_64' -o commit='3.10.0-862.el7.x86_64'

and

$ lkp ncompare -s commit='3.10.0-862.19.1.el7.x86_64' -o commit='3.10.0-862.el7.x86_64' -a

?

[2018-09-29 06:40] SCHEN2015 commented on #20
The command with `-a` worked.

[code]

[2018-09-29 06:46] yhuang-intel commented on #20
I guess the two kernel versions are too similar. There's no performance difference, so you need "-a".

[2018-09-29 06:57] SCHEN2015 commented on #20
May I run `lkp-tests` on 2 different hosts (the same capacity) and use `lkp ncompare` to summary the benchmark results? If so, I can compare RHEL7.5 against RHEL7.6, there should be some difference.

[2018-09-29 07:03] yhuang-intel commented on #20
It's not easy to merge results from different machine now yet.  That will be a TODO for us.  Maybe you can close this one and submit a new issue for that?  So we will keep track of it and make it resolved.

[2018-09-29 09:17] SCHEN2015 commented on #20
I'm all for it, this feature would be very useful.

BTW, still one more question:
Can `lkp ncompare` be used for comparing the KPI of 2 different SSD devices based on the same kernel? I guess no, but if it can, please let me know. Thanks!

[2018-09-30 00:33] hying-caritas commented on #20
It's possible, but tricky.  Firstly you need a way to differentiate 2 SSD devices.  Now in host file, you cannot do that.  That is a feature request.  It's not only for `lkp ncompare`, but also for `lkp run`.  So maybe create another issue for this too.  Thanks for pointing this out.

[2018-09-30 02:19] schrht opened #23 "Feature: Merge results from different machines"
https://github.com/intel/lkp-tests/issues/20#issuecomment-425630411

Please consider to add a feature for `lkp ncompare` to deal with the results from different machines. Thanks!

[2018-09-30 02:24] schrht opened #24 "Feature: Support comparing the performance against 2 different devices"
Please consider to add a feature for comparing the performance against 2 different devices. Such as, comparing the KPIs from 2 block devices with `lkp ncompare`.
Thanks!

_Originally posted by @SCHEN2015 in https://github.com/intel/lkp-tests/issue_comments#issuecomment-425688598_

[2018-09-30 03:16] #20 closed

[2018-10-08 01:11] zhijianli88 commented on #19
[code]
confirmed, looks something wrong on lkp-tests, i'm looking into it.

[2018-10-08 23:51] #19 closed

[2018-10-18 05:48] SCHEN2015 opened #26 "No package libunwind8 available in Fedora 28/25"
[code]
Also verified this issue in Fedora 25.

[code]
May I contribute upon code into intel/lkp-tests?

[2018-10-18 10:16] SCHEN2015 commented on #26
Thanks, will do.

[2018-10-18 10:16] #26 closed

[2018-11-14 19:05] johnbieren opened #29 "Bug: libhugetlbfs-test multiple pagenums"
https://github.com/intel/lkp-tests/blob/master/jobs/libhugetlbfs-test.yaml
lists both 32 and 64 for pagenums.
When that is fed into this (at least on rpm distros):
https://github.com/intel/lkp-tests/blob/master/tests/libhugetlbfs-test#L14
it results in the command including `--add-temp-swap=32 64 --pool-pages-min` which is not proper syntax to hugeadm. Should the test loop on pagenum value or some

[2018-11-15 00:05] rli9 commented on #29
thanks for the input, we will look into it shortly.

[2018-11-15 03:12] zhijianli88 commented on #29
Looks we can use https://github.com/intel/lkp-tests/blob/master/tests/libhugetlbfs-test#L14
to setup page number correctly.
[code]

this step is a preparation for later test(make check)
according to our test result, it looks the tests need at least 32 * 2M pages

[2018-11-15 03:19] zhijianli88 commented on #29
IIRC, this test(make check) cannot test  specified pagenums, but our job.yaml describe pagenum which might cause a bit confusion for users.

[2018-11-15 13:12] johnbieren commented on #29
Right, I wasn't questioning the number of pages, it just seems that as written, it passes `--add-temp-swap=32 64 `, and -add-temp-swap expects a singular value, not a space separated list of them. I expected that running install then run on the test would work, but it trips up on the syntax passed to hugeadm

[2018-11-16 01:09] zhijianli88 commented on #29
Not exactly, we need  split job first and then run job
[code]
split will split a large job to multiple atomic jobs
so if run origin job directly(jobs/libhugetlbfs-test.yaml), it would cause the issue as you said.

[2018-11-16 13:52] johnbieren commented on #29
Ah, I understand now. I didn't know about the split-job functionality. It works as expected for me now, thanks!

[2018-11-16 13:52] #29 closed

[2019-03-27 17:23] hrw opened #34 "Turbostat is x86 only"
Going through steps from [lkp-tests.pdf](https://01.org/sites/default/files/documentation/lkp-tests.pdf) I got stopped on 'turbostat':
[code]

Looked at source and noticed that it is x86-64 only tool. And I am on AArch64...

Can turbostat be optional?

[2019-03-28 07:03] zhijianli88 commented on #34
you are right.

you can disable it locally with following changes

[code]

[2019-03-28 10:50] hrw opened #35 "perf: Error: unknown switch `c'"
lkp may need changes to adapt to perf from Linux 5.1:

[code]

[code]

[2019-03-29 01:38] zhijianli88 commented on #35
Thanks for your reporting.

Looks there are some many errors/warnings on you environment
what's your distribution.

i will fix this soon

have  you installed   ./hackbench-socket-threads-50%.yaml successfully ?
mpstat should be installed when you install this job i think

i will have a look.

[2019-03-29 02:17] zhijianli88 commented on #35
Figure out the FBC
[code]

[2019-03-29 08:07] hrw commented on #35
I used debian:buster container container as it was just quick check as one of my coworkers had issues with lkp.

So some issues may be a reason of running in Docker container instead of system installed on bare metal.

Once I got rid of turbostat installation ended without errors.

[2019-03-30 03:20] #35 closed

[2019-04-04 07:10] zhijianli88 commented on #34
this issue could be fixed by: 704abc37427d ("include/category/benchmark: export turbostat only if on arch x86/x86_64")

[2019-07-19 03:42] sriiora opened #38 "Failure when using output created by "lkp compile lkp-test/tests/phoronix-test-suite.yaml""
Steps to reproduce
1. phoronix-test-suite try to connect to the Internet, if use http proxy, please run 'phoronix-test-suite network-setup'

2.  Create an auto execution bash script
[code]

2. The execution will only run the first test suite, in this case it is "aio-stress-1.1.1"

3. Refer to the attach for the quick hack fix [phoronix-test-suite.zip](https://github.com/intel/lkp-tests/files/34093

[2019-07-19 07:24] rli9 commented on #38
Thanks @sriiora, lkp compile is lacks maintenance, we will put effort to check it. BTW: whether lkp install/lkp run work as expected in this scenario?

[2019-07-21 22:58] sriiora commented on #38
yup, lkp install/lkp run work as expected. The only draw back is the execution time is long vs the batch more.

[2019-07-22 09:50] zhijianli88 commented on #38
Hey @sriiora ,

Looks we need to document more about 'lkp compare'

when i tried to compile a splited(atomic) job, it worked as expected
[code]

[2019-07-22 13:59] sriiora commented on #38
Question:
1. I git clone https://github.com/intel/lkp-tests.git and I cannot locate phoronix-test-suite-clearlinux-stress-ng-1.2.2-clear-24300-phoronix-x86_64.yaml in lkp-tests/jobs. ???

2. the command " lkp compile xxxx.yaml" need to apply to the atomic level YAML file that split out from the master YAML? Or it can directly use on the master YAML file in lkp-tests/jobs? I use the 2nd method and

[2019-07-23 04:22] zhijianli88 commented on #38
No, it's my private atomic yaml, you can split jobs/phoronix-test-suite.yaml to get similar atomic yaml files.

That's true

this isn't still supported though lkp doesn't complain

[2019-07-23 14:22] #34 closed

[2019-07-23 14:23] #38 closed

[2019-07-26 12:13] jallen-amd opened #42 "unixbench: libperl5.24 does not exist on ubuntu-18.04"
ubuntu-18.04 repos seem to only contain libperl5.26 and perl-modules-5.26, but unixbench attempts to install 5.24. Is ubuntu 18.04 not a supported distro? If it is supported, it seems that we will need a way to specify to install whichever version of the package is available. Ideally, it would be nice to be able to specify something like "perl-modules >= 5.26", but the current method of installing

[2019-07-26 22:38] ckoppolu opened #43 "Unable to execute autotest-part1-cyclictest on Clear Linux"
Hello,

I am a new user of lkp-tests and have been playing with example tests. Well the ones that I used worked on Ubuntu 18.04, but when shifted to Clear Linux. The lkp-tests for the out of the box example autotest-part1-cyclictest.yaml failed. Here are the steps executed:

lkp split jobs/autotest-part1.yaml - PASSED
sudo lkp install autotest-part1-cyclictest.yaml - PASSED
sudo lkp run autotest-p

[2019-07-26 22:49] ckoppolu opened #44 "Unable to add arugments to a new job file with cyclictest"
The examples for cyclictest under jobs/autotest-part1 do not have examples with parameters passed. While out-of-box tests for cyclictest when executed from autotest-part1(autotest-part1-cyclictest.yaml) work fine.

Example cyclictest without arugments which works fine is autotest-cyclictest.yaml:
suite: autotest
testcase: autotest
category: functional

autotest:
  test:
  - cyclictest

I see in th

[2019-07-29 05:36] q384566678 commented on #43
I conducted the relevant tests and it worked successfully.
[code]
If I delete the tests under autotest/client/tests, I will see the problem you said after testing again.
[code]

I think the reason you made a mistake is that you haven't download all the autotest tests. Because autotest contains submodules.
You can check if the following test exists in the path below.
[code]
.
There is a  [patch](ht

[2019-07-29 06:53] q384566678 commented on #44
The default command is written in the relevant test file.
[code]
If you want to change the command, you can modify the related files.
[code]
Verify that the modified command takes effect.
[code]

[2019-07-29 08:50] q384566678 commented on #44
I tried to pass args directly through the command, but it didn't succeed, maybe the method I used was wrong. The current method above is a viable method I have found. As for the revision through the order, I am still trying.
[code]

[code]

[2019-07-30 22:59] ckoppolu commented on #43
Hello Hao,

Thanks for the test, I see part of the problem still exists on my side. I checked out the latest code and went through the steps to install and run autotest-part1-cyclictest.yaml. The result is the same and there are not test artifacts installed under /lkp/benchmarks/autotest/client/tests. Here is my output:

ckoppolu@jfsrtse-clear~/lkp-tests $ ls -lart /lkp/benchmarks/autotest/client/

[2019-07-30 23:40] ckoppolu commented on #44
I see that the cyclictest version checked out from git://git.kernel.org/pub/scm/linux/kernel/git/tglx/rt-tests.git(as mentioned in the script) seems to be 0.15 where the latest version is 1.00. There aren't all the options that we use are available in the older version.

[2019-07-31 01:21] q384566678 commented on #43
It seems that it have not downloaded all the tests here.There will be no error when executing lkp install.
Because your original autotest file has only a few partial tests, re-executing git `submodule update --init --recursive` has no effect.

I suggest you do the following:
1. Delete the /lkp/behchmarks/autotest file
2. Delete the /tmp/build-autotest/autotest file
3. Re-run lkp install autotest-p

[2019-07-31 01:51] q384566678 commented on #44
Since the option is not supported, if you want to use other args, you can only modify the relevant files according to the above method.
[code]

[2019-08-02 17:38] ckoppolu commented on #43
Yes, it did! thanks for the solution.

[2019-08-02 17:38] #43 closed

[2019-08-02 17:42] ckoppolu commented on #44
Is there a configuration file that I can modify to pull the rt-tests from a different repo that uses latest version of cyclictest? If so, where is the file to modify?

[2019-08-05 01:50] q384566678 commented on #44
You can use the library you want to use by modifying the address of the library in the following file.
[code]

[2019-08-05 10:22] skarana1 opened #45 "PACKERDRILL:Compilation Error"
root@SSP-CLXAEP-CDI205/home/labuser/drill/lkp-tests # lkp install ./packetdrill-defaults.yaml
Use: /home/labuser/drill/lkp-tests/distro/installer/clear install bc os-core os-core-update sysadmin-basic c-basic dev-utils dev-utils-dev git linux-tools network-basic openssl os-core-update os-testsuite-0day patch perl-extras ruby-basic
Successfully installed bundler-2.0.2
Parsing documentation for bund

[2019-08-05 11:41] skarana1 opened #46 "NVML:Compilation error with clang compiler"
root@SSP-CLXAEP-CDI205/home/labuser/drill/lkp-tests # lkp run ./nvml-arch-none.yaml
2019-06-24 04:40:25 cd /lkp/benchmarks/nvml/src/test
2019-06-24 04:40:25 export CC=clang
2019-06-24 04:40:25 export CXX=clang++
2019-06-24 04:40:25 cd /lkp/benchmarks/nvml
2019-06-24 04:40:25 export CC=clang
2019-06-24 04:40:25 export CXX=clang++
2019-06-24 04:40:25 cp src/test/testconfig.sh.example src/test/testco

[2019-08-06 02:50] rli9 commented on #42
@jallen-amd would you give a try for the latest code base?

[2019-08-06 03:24] liuyd96 commented on #46
Hi, skarana1.

The root cause is below error.

clang-8: error: unknown argument: '-fno-semantic-interposition'

On my local clear host, '-ftree-loop-distribute-patterns' and '-fno-semantic-interposition' are default.
It seems that Clang doesn't support the two arguments, unset the two arguments then lkp run could build nvml successfully.

declare -x CFFLAGS="-g -O3 -feliminate-unused-debug-types

[2019-08-06 05:32] skarana1 commented on #46
Hi liuyd96,
Thank you so much for your prompt response.The root cause  which you suggested ,is that a workaround or fix?

[2019-08-06 06:06] liuyd96 commented on #46
Hi, skarana1

It should be a fix. LKP uses clang to build nvml but clang8 doesn't support '-ftree-loop-distribute-patterns' and '-fno-semantic-interposition'.

So from lkp side, what we could do is removing the 2 arguments. (not sure whether other clang version support the 2 arguments.)

[2019-08-06 07:09] liuyd96 commented on #46
Hi, skarana1.

i have sent a small fix, please update your lcoal code after a while.

BTW, i'm confused that why clearlinux's env setting has set CFLAGS and CXXFLAGS as default.
The default setting will confuse the users who are using clang to do build.

my clear os.

NAME="Clear Linux OS"
VERSION=1
ID=clear-linux-os
ID_LIKE=clear-linux-os
VERSION_ID=30040
PRETTY_NAME="Clear Linux OS"
ANSI_COLOR="

[2019-08-06 07:14] skarana1 commented on #46
Hi liuyd96,
Ya liuyd96, in code they are setting CFLAGS AND CXXFLAGS as default env variables.
Hence I commented out the CFLAGS AND C++FLAGS in the code(In the path /lib/tests/nvml.sh ,in setup_compiler function) and able to build packages successfully.

[2019-08-08 12:22] jallen-amd commented on #42
@rli9: Issue appears to be resolved for the latest code base. Thanks!

[2019-08-08 12:22] #42 closed

[2019-08-08 18:06] ckoppolu commented on #44
Hello Zhou,

Since the version of cyclictest is old in the repo https://github.com/autotest/autotest.git. Can we request the maintainers to update the repo to use the latest version of cyclictest? Or to make things easier, can we make a pull request?

Regards,
Chanakya

From: Zhou Hao [mailto:notifications@github.com]
Sent: Sunday, August 4, 2019 6:51 PM
To: intel/lkp-tests <lkp-tests@noreply.gith

[2019-08-09 07:12] yangx-jy commented on #45
Hi @skarana1

gcc-9 introduces and enables address-of-packed-member option by default so gcc-9 with -Werror
treats taking address of packed member as a error.

commit f372040c7cf9 has fixed the issue by disabing address-of-packed-member option as upstream kernel does.

Could you download the lastest lkp-tests code and then check if the issue is gone by 'lkp install ./packetdrill-defaults.yaml".

B

[2019-08-09 07:38] q384566678 commented on #44
for this specific usage (not general applicable or a lkp issue), I suggest you make a pull request in the autotest community.

[2019-08-12 03:23] skarana1 commented on #45
Hi Yang,
Thanks for the patch.
Can you please provide the patch.

[2019-08-12 07:14] skarana1 opened #47 "PIGLIT:Compilation error"
root@hyd-clx-coffeelake/home/testrunner/lkp_packet/lkp-tests # lkp install ./piglit-all-igt-all.yaml
Use: /home/testrunner/lkp_packet/lkp-tests/distro/installer/clear install bc os-core os-core-update sysadmin-basic c-basic dev-utils dev-utils-dev git linux-tools network-basic openssl os-core-update os-testsuite-0day patch perl-extras ruby-basic
Error: Curl - Communicating with server timed out
Er

[2019-08-13 01:25] yangx-jy commented on #45
Hi @skarana1

You can see the patch in lkp-tests code, as below:
[root@Fedora-30-workstation lkp-tests]# ll pack/packetdrill.patch
-rw-r--r--. 1 root root 1677 Aug 10 21:01 pack/packetdrill.patch

This patch just disables address-of-packed-member when the option is supported, and does nothing when the option isn't supported.

Best Regards,
Xiao Yang

[2019-08-13 01:59] skarana1 commented on #45
Thank you so much Xiao.
I'm hitting another error/fail.Please refer below.
Running ./gtests/net/packetdrill/tests/bsd/fast_retransmit/fr-4pkt-sack-bsd.pkt ...
2019-08-13 01:51:00 ./gtests/net/packetdrill/packetdrill --tolerance_usecs=40000 ./gtests/net/packetdrill/tests/bsd/fast_retransmit/fr-4pkt-sack-bsd.pkt
./gtests/net/packetdrill/tests/bsd/fast_retransmit/fr-4pkt-sack-bsd.pkt:25: error handli

[2019-08-13 02:01] skarana1 commented on #46
Can you please provide me the patch for the above discussed issue?
Are you pushing the patch to the master?

[2019-08-13 02:05] liuyd96 commented on #46
`commit d9b71edc2d6a5e1bcfe965c247e9cedf4712b874
Author: Liu Yiding <yidingx.liu@intel.com>
Date:   Tue Aug 6 14:45:43 2019 +0800

    lib/tests/nvml.sh: fix clang error unknown arguments

    fix the following issue
    ------
    clang-8: error: unknown argument: '-ftree-loop-distribute-patterns'
    clang-8: error: unknown argument: '-fno-semantic-interposition'
    ------

    LKP uses clang t

[2019-08-13 03:39] skarana1 commented on #45
Hi, Yang,
With the given patch,lkp install ./packetdrill-defaults.yaml" is working without any issues.

[2019-08-13 04:27] skarana1 commented on #46
Can you share me the location of the patch ?

[2019-08-13 05:05] liuyd96 commented on #46
lib/tests/nvml.sh

[2019-08-16 20:39] seanvk commented on #44
It's unfortunate that we have this dependency chain of lkp-tests->autotest->out-of-date-tests.  Frequently these tests do have bugs which can result in inaccurate results.  Hopefully, we can get that updated.

[2019-08-16 20:41] seanvk commented on #44
If you go here:  https://github.com/autotest/autotest-client-tests
You will see a lot of these tests are like 5 years old or more.  That's independent of this issue but something I think lkp should consider further investigating in general.

[2019-08-20 08:25] #45 closed

[2019-08-28 09:00] q384566678 commented on #47
Hi @skarana1, can you delete the files in /tmp/build-piglit and then re-run this command with the latest code?
Please let me know if there are any more problems.

[2019-09-16 22:44] ckoppolu commented on #44
Hello Zhou,

After speculation and researching autotest, we have decided to add "cyclictest" as a new test to the lkp tests. I need help in writing the relevant files as the documentation is not so clear. Can you please provide me a list of configuration scripts and relevant files to be able to cyclictest as a new test?

[2019-09-17 00:00] ckoppolu commented on #44
Added rt-tests.yaml under jobs: cat jobs/rt-tests.yaml
suite: rt-test
testcase: rt-test
category: benchmark

rt-tests:
  test:
  - cyclictest

And rt-tests under pack: cat pack/rt-tests
#!/bin/bash

download()
{
	git_clone_update https://git.kernel.org/pub/scm/utils/rt-tests/rt-tests.git autotest --recursive
}

install()
{
	cp -af $source_dir /lkp/benchmarks/
}

Here is the error message I am geti

[2019-09-17 01:47] q384566678 commented on #44
below is an example:
[code]
So if you want to add a test with the name cyclictest, you need to add the following files:
* /include/cyclictest
  If the test requires a special kernel configuration, it needs to be written in this file. If it doesn't need it, you don't need to add this file.
* /stats/cyclictest
  Format the result and generate the corresponding cyclictest.json file in rt.
* /pack/cyc

[2019-09-19 14:18] #47 closed

[2019-09-19 14:18] #46 closed

[2019-12-13 16:41] tyhicks opened #50 "bsdtar is not installable in recent Ubuntu releases"
The `bsdtar` binary package is installed, using apt, when running `lkp install` on Ubuntu. This fails since Ubuntu 19.10 as the `bsdtar` binary package no longer exists. The `bsdtar` binary can be found in the `libarchive-tools` binary package in most, but not all, currently supported Ubuntu releases. For `lkp install` to work across all currently supported Ubuntu releases, we need `bsdtar` to be

[2019-12-13 17:02] tyhicks commented on #50
Doing something simple like this results in `lkp install` failing on Ubuntu 16.04 LTS (Xenial) where `libarchive-tools` does not exist:

[code]

Is there a more fine-grained syntax available for the adaptation files that allow `bsdtar` to be installed on some releases and `libarchive-tools` on others?

[2019-12-13 17:31] tyhicks commented on #50
`lkp install` does fail on Debian Sid in the same manner as Ubuntu 19.10 and newer:
[code]

[2019-12-13 17:36] tyhicks commented on #50
Using apt's regex support to install `bsdtar|libarchive-tools` is probably the best path forward. It both packages when they both exist and only select the one that exists when the other isn't available.

[2020-02-04 07:43] bincykp opened #54 "lkp ncompare result interpetation"
Hi,

I am new to lkp test suite.I have installed it and found useful in comparing different kernel versions.

Can somebody help me to understand it better way.Attached is the lkp compare test result.Column headings are unclear to me.

What does 5322 and 379 mean in the attached result?How can I say which kernel is good from the result?

lkp ncompare -s commit="3.10.0-1062.9.1.el7.x86_64" -o commit

[2020-02-04 09:30] xilabao commented on #54
Hi @bincykp

The timestamp:last was generated by `stats/kmsg` or `stats/dmesg` ,  there should be a "boot_failures                            " or other kernel error in lkp ncompare result if kernel boot failed, and you also can check other testsuite's result to analyze the kernel performance.

For example:
[code]

[2020-02-04 10:57] bincykp commented on #54
Thanks for the reply.To better understand this I am attaching the ncompare result of 4.15.0-25 vs 4.15.0-65.Can you please have a look and comment on the result(
[4.15.0-29vs65.txt](https://github.com/intel/lkp-tests/files/4152841/4.15.0-29vs65.txt)

url)

[2020-02-04 10:58] bincykp commented on #54
Also  I like to know how I can find out which git push caused the performance delay

[2020-02-04 11:00] bincykp commented on #54
So I understand dmesg timestamp:list value as such not giving any performance comparison value

[2020-02-05 05:31] bincykp commented on #54
Hi,
Can somebody help me to answer above queries.

Thanks
Bincy

[2020-02-05 11:55] xilabao commented on #54
You can focus on the lines under "%stddev", e.g. vm-scalability.* since it's a vm-scalability performance test.

[2020-02-05 11:58] xilabao commented on #54
I'm not sure what do you mean exactly, but lkp-tests shouldn't cause performance delay.

[2020-02-05 11:59] xilabao commented on #54
Yes, you are right, it's not a performance value. the performance value should be under the "%stddev" line.

[2020-02-06 09:01] bincykp commented on #54
Hi,
As per the attached pdf document we can keep the linux source file in /c/repo/linux.
lkp ncompare should point to which git commit id caused the performance delay.
I ran 'lkp ncompare' multiple times and not observed any pointers to code.Please suggest
[lkp-tests.pdf](https://github.com/intel/lkp-tests/files/4164097/lkp-tests.pdf)

[2020-02-06 09:43] bincykp commented on #54
Sorry to ask repeatedly but its not convincing me.standard deviation for the vm-scalablity values are empty here.So should I understand vm-scalability performance is same on both systems.At   the same time number of fail differ in both systems.

4.15.0-29-generi           4.15.0-65-generic
---------------- ---------------------------
       fail:runs  %reproduction    fail:runs
           |

[2020-02-06 11:43] xilabao commented on #54
the "git commit id" means kernel's commit, you can install the kernel from source code, than run lkp-tests to compare the performance between difference kernel commits.

[2020-02-06 11:50] xilabao commented on #54
"stddev" is calculated by the results on the same system with same kernel, the "stddev" should be 0 if  "runs" is 1, you can run lkp-tests more times on the same test environment.

[2020-02-11 09:34] bincykp commented on #54
I did that..

[2020-02-11 09:36] bincykp commented on #54
So same question....how to compare different kernel version with this result?

Thanks

[2020-02-11 09:53] bincykp commented on #54
Is it directly with change value..?Then why this session is seperated ?
   fail:runs  %reproduction    fail:runs
       |             |             |
   3250:1      -281381%         436:1     dmesg.timestamp:last
   3250:1      -281381%         436:1     kmsg.timestamp:last
      1:1          279%           4:1     perf-profile.calltrace.cycles-pp.sync_regs.error_entry
     10:1          347%

[2020-02-12 11:55] xilabao commented on #54
We collected some common performance stats in [index-perf-all.yaml](https://github.com/intel/lkp-tests/blob/master/etc/index-perf-all.yaml) . e.g.
`688860           +10.8%     763293        vm-scalability.throughput` means there is 10.8% performance improvement on test vm-scalability.

These values are for debugging, the perf results can help finding the root cause of performance change.

[2020-02-13 09:23] bincykp commented on #54
Thanks.
688860 +10.8% 763293 vm-scalability.throughput means there is 10.8% performance improvement on test vm-scalability on the 4.15.0-65-generic kernel compared to 4.15.0-29-generic.

What does this section means. Especially what does %reproduction means?

  fail:runs  %reproduction    fail:runs
       |             |             |
   3250:1      -281381%         436:1     dmesg.timestamp:last

[2020-02-13 09:27] bincykp opened #55 "lkp ncompare using source code"

[2020-02-13 09:37] bincykp commented on #55
Hi,

I am new to lkp test suite.I have installed it and found useful in comparing different kernel versions.

.

Attached is the lkp compare test result.

lkp ncompare -s commit="3.10.0-1062.9.1.el7.x86_64" -o commit="3.18.0-rc5" -a
======================= ==================================================================

The lin
15.0-29vs65.txt](https://github.com/intel/lkp-tests/files/4197492/4

[2020-02-13 09:38] bincykp commented on #55
linux source file in /c/repo/linux.
lkp ncompare should point to which git commit id caused the performance delay.
I ran 'lkp ncompare' multiple times and not observed any pointers to code.Please suggest

[2020-02-14 12:41] xilabao commented on #54
"fail:runs %reproduction fail:runs" contains some stats related with boot, you don't  need to care about them if boot success.

here is example to show the "reproduction", it means the relationship between "fail" and "runs" , but the data you pasted shows that some fail values are not the real fail but only the result of these items. so the "reproduction" is meaningless for them.
[code]

[2020-02-18 13:24] megha-an opened #56 "ltp benchmark parameters"
Hi

I am running ltp benchmark through lkp (HiFive Unleashed (RISCV) yocto linux kernel 5.4.3 with 8GB RAM). Only 6GB is available when running LKP. I find  that lkp is expecting the ram size of the 8 GB to run the ltp.
Here is the error:

rm  due to not enough memory
need: 8192 MB, has: 6866 MB

And with HDD disk jobs
This is the error:

rm  due to not enough HDD disks
need: 1, has: 0

Can we get

[2020-02-19 02:16] bincykp commented on #55
Hi,
Can somebody help me to understand it better?

[2020-02-19 03:00] bincykp commented on #54
Thanks.Little more explanation please.
'the data you pasted shows that some fail values are not the real fail but only the result of these items" What does these items means?Also if it shows like this what is the reliability of these results?

And what does -25% in  %reproduction mean?

[2020-02-19 05:39] zhijianli88 commented on #56
Hi Megha
 - For "no enough memory",  you can simply update the need_memory field to fit you OS
please note that some sub-tsts may consume a lots of memory.
[code]
- For "no enough HDD disks"
you have to install a hdd for this tests, because these tests may do some tests on this disk.
you can use 'lkp install --hdd /dev/xxx' to install a new disk to lkp framework
[code]

so kindly to let me know if

[2020-02-20 01:17] xilabao commented on #54
these dmesg items are from dmesg.json file, and dmesg.json was generated by dmesg, the lkp ncompare tool shows these results in a different way, and you also can read the raw data to understand these results.
[code]

[code]
-25% in %reproduction means the ratio of fails.

[2020-02-20 05:36] xilabao commented on #55
`lkp ncompare` reads the kernel version or commit from result path. e.g. "/lkp/result/will-it-scale/process-100%-brk1/shao2-debian/debian/x86_64-rhel-7.6/gcc-7/4.19.0-4-amd64/0": "4.19.0-4-amd64" is the tested kernel which from `uname -r`. so if you want to test the commit, you can build the kernel with particular name to relate to the commit.

[2020-02-20 07:20] bincykp commented on #54
Thanks

[2020-02-21 01:35] yangx-jy commented on #56
Hi @megha-an

Do you have any other questions?
Please close the issue if you have no other questions.

Best Regards,
Xiao Yang

[2020-02-24 08:59] #56 closed

[2020-02-24 09:47] bincykp commented on #55
Thanks ...I will try this

[2020-03-24 09:46] Ankita-020696 opened #60 "rm due to not enough HDD disks"
Hi,
I am running iozone benchmark through lkp on X86 (Linux kernel - 5.3.0). I am getting error with HDD disks.

Command: sudo lkp run ./iozone-2HDD-ext4-kyber.yaml
rm due to not enough HDD disks
need: 2, has: 0
Traceback (most recent call last):
6: from /home/test/Ankita/lkp-tests/bin/run-local:131:in <main>' 5: from /home/test/Ankita/lkp-tests/lib/job.rb:691:in expand_params'
4: from /home/test/

[2020-03-30 01:14] liuyd96 commented on #60
Sorry for delay.
please check whether lkp-tests/host/${HOSTNAME} exists.

1. If lkp-tests/host/${HOSTNAME} exist.
You could edit hdd/ssd partitions directly to specify testing partitions. Could refer to other files under lkp-tests/hosts

nr_cpu: 2
memory: 3G
hdd_partitions:
ssd_partitions:
local_run: 1

2.  You could specify hdd/ssd when you install job by option "--hdd/--ssd"
lkp install --hdd /d

[2020-03-30 11:30] Ankita-020696 commented on #60
Hi,
I tried these steps but did not work for me. It is giving same error. Can you provide me any other solution to fix it.
Thanks,
Ankita

[2020-03-31 02:09] liuyd96 commented on #60
Hi, @Ankita-020696.
Sorry for the delay. After add hdd partition info into lkp-tests/host/${HOSTNAME}.
Please run "lkp split-job iozone.yaml" again.

During `lkp split`, we added some info like memory, disk etc. to job.yaml.
And lkp parsed job.yaml to get needed value.
So when you edit host/${HOSTNAME}, you need split this job again to add new disk info.

Thanks.

1. Edit lkp-tests/host/${HOSTNAME

[2020-03-31 02:49] liuyd96 commented on #60
If you choose the way of "lkp install --hdd /dev/XXX". You need remove lkp-tests/host/${HOSTNAME} firstly.

Remove lkp-tests/host/${HOSTNAME} ==> `lkp install --hdd /dev/vda1 --hdd/dev/vda2 job.yaml` ==> lkp run job.yaml

[2020-04-01 02:57] Ankita-020696 commented on #60
Hi,
1.I tried by editing {HOSTNAME}, this is giving
Command: sudo lkp run ./iozone-2HDD-ext4-kyber.yaml
rm  due to not enough HDD disks
need: 2, has: 1
Traceback (most recent call last):
	6: from /home/ankita/Ankita/lkp-tests/bin/run-local:131:in `<main>'
	5: from /home/ankita/Ankita/lkp-tests/lib/job.rb:691:in `expand_params'
	4: from /home/ankita/Ankita/lkp-tests/lib/job.rb:77:in `for_each_in'

[2020-04-01 03:23] liuyd96 commented on #60
Please share your host/${HOSTNAME} info and cmdline.

[2020-04-01 03:45] Ankita-020696 commented on #60
**host/${HOSTNAME}:**
cat ankita-Inspiron-15
nr_cpu: 4
memory: 11G
hdd_partitions: 2
ssd_partitions:
local_run: 1

 **./iozone-2HDD-ext4-kyber.yaml:**
cat ./iozone-2HDD-ext4-kyber.yaml
---

#! jobs/iozone.yaml
suite: iozone
testcase: iozone
category: benchmark
disk: 2HDD
fs: ext4
iosched: kyber
iozone:
job_origin: jobs/iozone.yaml
testbox: ankita-Inspiron-15-3567
arch: x86_64
tbox_group: ankita-In

[2020-04-01 04:10] liuyd96 commented on #60
You should add real disk, not number.
e.g. hdd_partitions: /dev/vda1 /dev/vda2
Please refer other host file
e.g.

[2020-04-02 10:38] Ankita-020696 commented on #60
Hi,
This worked for me.
Thanks

[2020-04-02 10:38] Ankita-020696 commented on #60
Can u tell me,
1. How much size will each partition need to for iozone?
2. How iozone is calculating parent throughput & child throughput?

Thanks

[2020-04-03 01:56] liuyd96 commented on #60
Hi,

There is no limit about disk space i think. we use iozone option '-a' to run test.
'-a' will set testing variables automatically, e.g block size.

I'm sorry, i'm not very clear about iozone itself. Maybe you shold ask iozone community.
We just enable it in LKP testing framework and analyse the regression.

[2020-05-13 03:46] Ankita-020696 opened #66 "ERROR: While executing gem ... (NameError) uninitialized constant Gem::RDoc"
Hi
I am running lkp on FU540 (linux kernel 5.4.3), when I run lkp split-job jobs/aim9.yaml got following error.
traceback (most recent call last):
	11: from /home/root/lkp-tests/sbin/split-job:5:in `<main>'
	10: from /usr/lib/ruby/2.6.5/rubygems/core_ext/kernel_require.rb:59:in `require'
	 9: from /usr/lib/ruby/2.6.5/rubygems/core_ext/kernel_require.rb:59:in `require'
	 8: from /home/root/lkp-test

[2020-05-13 05:47] MaXinjian commented on #66
--> Which ruby version lkp require?
Sorry, but now we only support ruby2.3. Please try again with ruby2.3
$ grep RubyVersion lkp-tests/.rubocop.yml
  TargetRubyVersion: 2.3

[2020-05-14 04:40] ckujau commented on #50
Hm, why is this closed? `lkp install ` is still failing because `bsdtar` is referenced in `distro/depends/lkp-dev`. Was this file forgotten or is this intentional?

[2020-05-14 04:48] rli9 commented on #50
@ckujau we will further check this, reopen now.

[2020-05-18 10:35] xiahui9527 commented on #50
@ckujau please try the latest lkp-tests for debian/unstable. The commit "distro/adaptation: add debian-bullseye_sid" has been merged to fix lkp install issue on debian/unstable.
Feel free to let us know if there still has issue on debian/unstable. Thanks.

[2020-05-18 16:59] ckujau commented on #50
Yup, now all dependencies could be resolved and `lkp install` completes w/o error. Thanks for fixing this so quickly!

Another thing I noticed: Debian systems sometimes have [dash](http://gondor.apana.org.au/~herbert/dash/) as `/bin/sh` so many other scripts will error out because of this, but that's material for another bug report :)

[2020-05-19 05:50] xiahui9527 commented on #50
@ckujau , thanks for the response. This issue will be closed since it already be fixed per your feedback. Please file new issue for other problems. Thanks.

[2020-05-21 09:13] #60 closed

[2020-05-21 15:02] Ankita-020696 opened #67 "Add ipc-bench benchmark to lkp"
Hi,
I am trying to add ipc-bench benchmark to lkp.
I tried to add ipc-bench.yaml for the benchmark in lkp-tests/jobs/ directory. When I used **lkp split-job jobs/ipc-bench.yaml** I get split job as  **ipc-bench-defaults.yaml** , not with parameters that  I have added in ipc-bench.yaml file.  How do I fix this?
Could you please help me to understand 'how to add new benchmark to lkp-tests'.

Thanks

[2020-05-21 15:29] #66 closed

[2020-05-25 02:16] zhijianli88 commented on #67
Hi Ankita

if you want to split jobs with specific parameters, testsuite.yaml and testsuite.sh should follow a specific format, a example is like below:

jobs/ipc-bench.yaml
[code]

tests/ipc-bench.sh
[code]

[2020-05-26 09:24] Ankita-020696 commented on #67
Hi,
I added PKGBUILD for ipc-bench in lkp-tests/pkg/ipc-bench but it did not clone ipc-bench sources.
Also I searched for ipc-bench package at https://aur.archlinux.org/, it is not available. How to proceed on this? How to add PKGBUILD for ipc-bench?

Thanks

[2020-05-26 09:24] Ankita-020696 commented on #67
Thanks

[2020-05-26 09:52] zhijianli88 commented on #67
could you try to add "ipc-bench::" into distro/adaptation-pkg/$distro, for example
[code]

[code]
as above example, add your "source" url  where lkp will try to download/clone from

[2020-06-01 10:26] Ankita-020696 opened #68 "LKP not cloning & building the benchmark"

[2020-06-03 07:38] #68 closed

[2020-06-03 13:34] Ankita-020696 commented on #67
Hi
I observed that when lkp install ./pft-50%-300s.yaml is executed, it gives pft executable in /lkp/benchmarks/pft directory. But for ipc-bench I did not get the executable. What could be the reason?
How do I fix this?

Thanks

[2020-06-04 01:43] zhijianli88 commented on #67
could you paste the logs of 'lkp install ./ipc-bench-xxx.yaml'
Generally, 'lkp install' will parse pkg/ipc-bench/PKGBUILD, and install your testsuite into /lkp/benchmark/ipc-bench/

[2020-06-04 06:06] Ankita-020696 commented on #67
**lkp install log:**

Use: /home/vaibhav/Ankita/lkp-tests/distro/installer/ubuntu install bc debianutils gawk gzip kmod time automake bison bsdtar build-essential bzip2 ca-certificates cpio fakeroot flex gcc git libc6-dev libc6-dev:i386 libc6-dev-x32 libipc-run-perl libklibc-dev libssl-dev libtool linux-libc-dev linux-libc-dev:i386 linux-tools-common make openssl patch rsync ruby ruby-dev wget
Hit

[2020-06-04 06:42] zhijianli88 commented on #67
�[1m�[32m==>�(B�[m�[1m Making package: ipc-bench git-1 (Thu Jun 4 11:26:02 IST 2020)�(B�[m
�[1m�[32m==>�(B�[m�[1m Checking runtime dependencies...�(B�[m
�[1m�[32m==>�(B�[m�[1m Checking buildtime dependencies...�(B�[m
�[1m�[32m==>�(B�[m�[1m Retrieving sources...�(B�[m
�[1m�[34m ->�(B�[m�[1m Updating ipc-bench git repo...�(B�[m
Fetching origin
�[1m�[32m==>�(B�[m�[1m Validating source files with md5s

[2020-06-04 07:20] Ankita-020696 commented on #67
Hi
When I change PKGBUILD file or any file &  try to reinstall the benchmark. It do not reinstall that benchmark.  How can I use updated files for a benchmark?

Thanks

[2020-06-04 08:28] zhijianli88 commented on #67
before reinstall this benchmark, try to first
[code]

[2020-06-04 08:52] Ankita-020696 commented on #67
Sorry but this did not work for me.

[2020-06-04 09:08] zhijianli88 commented on #67
could you paste the installing log

[2020-06-13 07:38] Ankita-020696 commented on #67
Hi
When I run ipc-bench executable **./ipc-bench** in **/lkp/benchmarks/ipc-bench**, I get result for ipc-bench.

test@ankita-lowconfiguration-inspiron-15-3552:/lkp/benchmarks/ipc-bench$ ./ipc-bench
============ RESULTS ================
Message size:       4096
Message count:      1000
Total duration:     6.797	ms
Average duration:   6.706	us
Minimum duration:   4.608	us
Maximum duration:   487.42

[2020-06-16 02:45] zhijianli88 commented on #67
since you are adding a test suite, you also need to append you test suite to belew array
[code]

[2020-06-16 06:46] Ankita-020696 commented on #67
Hi
I read that lkp-tests run as root but when I run ipc-bench job as root, I get following error,
**Could not set group id for child process: Operation not permitted
Could not set group id for child process: Operation not permitted**

How do I fix this?

Thanks

[2020-06-16 11:04] zhijianli88 commented on #67
You need to figure out which command cause these error

[2020-07-09 14:01] Ankita-020696 opened #69 "Alternative of fakeroot"
Is there any alternative of fakeroot? Can I use pseudo instead of fakeroot for lkp?

[2020-07-13 08:25] Ankita-020696 opened #70 "Perf compile fails due to missing files"
I am porting lkp to Linux raspberrypi4-64 4.19.126-v8 #1 SMP PREEMPT Mon Jun 29 13:37:35 UTC 2020 aarch64 aarch64 aarch64 GNU/Linux.
When I use lkp install ./pft-50%-300s.yaml getting error as
**1**. **mv: cannot stat 'util/.session.o.tmp': No such file or directory
make[4]: *** [/home/root/lkp/lkp-tests/tmp-pkg/perf/src/linux/tools/build/Makefile.build:97: util/session.o] Error 1
make[4]: *** Wai

[2020-07-21 09:04] Ankita-020696 opened #72 "isn't a atomic jobfile, only atomic jobfile is supported"
Hello
I am running lkp for **Linux raspberrypi4-64 5.4.51-v8 #1 SMP PREEMPT Mon Jul 20 05:13:46 UTC 2020 aarch64 aarch64 aarch64 GNU/Linux**. After lkp split-job & lkp install, when I run a job  using lkp run **./aim9-add_double-300s.yaml** get following error,
**2020-07-21 08:51:27 +0000 ERROR -- Looks ./aim9-add_double-300s.yaml isn't a atomic jobfile, only atomic jobfile is supported
2020-07-21

[2020-07-22 02:11] xiahui9527 commented on #72
Can't reproduce the "isn't a atomic jobfile" problem. This test case works fine on my side.
could you please share your aim9-add_double-300s.yaml after split?  It supposed to include only one test "test: add_double". Thanks.

[2020-07-27 12:14] xiahui9527 commented on #70
We don't test on the platform you mentioned since we mainly focus on the platform list in README. But it is great if you could port lkp-tests on other platform and we are happy to merge your pull request.
Just test pft on debian x86-64 which works fine. so it supposed to be build environment problem.
there is some error message in the log you post before the final break as below. maybe can fix it

[2020-08-03 04:18] xiahui9527 commented on #70
@Ankita-020696 , any possible to install fakeroot in Linux raspberrypi4?

[2020-08-03 04:21] Ankita-020696 commented on #70
Yes I have installed fakeroot. The issue is with perf compilation.

Sent from Outlook Mobile<https://aka.ms/blhgte>

________________________________
From: xiahui9527 <notifications@github.com>
Sent: Monday, August 3, 2020 9:49:11 AM
To: intel/lkp-tests <lkp-tests@noreply.github.com>
Cc: Ankita Anil Kulkarni <Ankita.AN@exaleapsemi.com>; Mention <mention@noreply.github.com>
Subject: Re: [intel/lkp-

[2020-08-03 04:25] xiahui9527 commented on #70
have you identified the root cause of perf compilation? let me know if anything we can help without Linux raspberrypi4 environment. Thanks.

[2020-09-14 09:34] JillJenny commented on #66
I got an error in ：lkp split-job lkp-tests/jobs/hackbench.yaml
my env: CentOS release 6.3 (Final)
ruby:2.3  how to resolve this problem,can you help me  @MaXinjian
/root/ruby/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in `require': cannot load such file -- active_support/core_ext/enumerable (LoadError)
	from /root/ruby/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in `require'

[2020-09-14 09:41] JillJenny opened #75 "split job error"
I got an error in ：lkp split-job lkp-tests/jobs/hackbench.yaml
my env: CentOS release 6.3 (Final)
ruby:2.3 how to resolve this problem,can you help me @MaXinjian

/root/ruby/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in require': cannot load such file -- active_support/core_ext/enumerable (LoadError) from /root/ruby/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in require'
from

[2020-09-14 09:41] JillJenny commented on #75
can anybody help,

[2020-09-14 10:17] #72 closed

[2020-09-15 02:38] xiahui9527 commented on #66
seems the installation is not complete and some file missing.
@JillJenny, could you please follow the steps at https://github.com/intel/lkp-tests/blob/master/README.md. use "sudo" to avoid permission denied issue.

help to share the log if there still have problem. Thanks.

[2020-09-15 02:38] xiahui9527 commented on #75
seems the installation is not complete and some file missing.
@JillJenny, could you please follow the steps at https://github.com/intel/lkp-tests/blob/master/README.md. use "sudo" to avoid permission denied issue.

help to share the log if there still have problem. Thanks.

[2020-10-05 06:15] pankajjoshi347 opened #77 "Time of run"
Hi,
I am running LKP on two different arch, x86 and ARM(RPI4 ) but able to see the difference in ti me for each iteration however it is taking approximately same for x86 but there is variation in time for running LKP on Raspberry pi.
What all factors i should consider to know the exact reason of degradations like why it is taking long  ?? Kindly suggest.

Thank you

[2020-10-07 09:20] cooper-chiou opened #78 "Run job.yaml failed in Xsever"
I installed lkp-tests on Ubuntu 18.04 machine, and run jobs.yaml on it to reproduce "https://patchwork.kernel.org/patch/11780373/" patch regression issue.
But I got the following Xserver error, could anyone help to check how to resolve it on jobs.yaml. Thanks,

~/lkp-tests$ sudo lkp run job.yaml
2020-10-07 17:17:26
for cpu_dir in /sys/devices/system/cpu/cpu[0-9]*
do
	online_file="$cpu_dir"/online

[2020-10-12 07:56] xilabao commented on #78
@cooper-chiou  I found a similar problem at https://unix.stackexchange.com/questions/478742/error-when-trying-to-use-xorg-only-console-users-are-allowed-to-run-the-x-serve, the problem is that you already enabled a X server that xinit can't work anymore, could you run "xhost +" with the normal user, and remove 'xinit' from lkp-tests/tests/phoronix-test-suite?

[2020-10-12 08:01] xilabao commented on #77
Hi @embdlover , we didn't try LKP on Raspberry pi, do you know which step is long on your environment? could you attach the logs you tested?

[2020-10-12 15:50] cooper-chiou commented on #78
Thanks @xilabao , it's working to resolve this error by your instruction. appreciated.

[2020-10-12 15:50] #78 closed

[2020-11-04 10:50] cooper-chiou opened #79 "NUC device shut down while running "phoronix-test-suite run supertuxkart-1.5.2""
I installed Ubuntu 18.04.4 LTS (kernel: v5.4) on Intel NUC8, and installed lkp-tests.

But when I run "phoronix-test-suite run supertuxkart-1.5.2" on NUC8, then system always goes shut down soon. Therefore, I can't fully complete the performance test to validate my upstream patch (https://patchwork.kernel.org/project/intel-gfx/patch/20200916180745.627-1-cooper.chiou@intel.com/)

Please help on thi

[2020-11-10 06:08] ZhengjunXing commented on #79
I check the attached log, no abnormal find. For this issue, it is better to capture the kernel logs(dmesg, uart logs...)

[2020-11-11 20:28] cooper-chiou commented on #79
After used my NUC7i3BNH to replace previous NUC8i7HVK4 (it has AMD dGPU), now there is no any device shut down issue on NUC7, I think it might be due to AMD dGPU issue.
I’ll try to disable AMD dGPU in NUC8 BIOS to check.

[2020-11-12 04:02] cooper-chiou commented on #79
Closed this issue since my NUC8 can't enable AMD dGPU well as there is libEGL_mesa.so error when add AMD Vega M GPU firmware, and nomodeset is not able to run lkp-test what cased shutdown issue, therefore I think NUC8 with AMD GPU is not good sample to run lkp-tests per my experiment.

[2020-11-12 04:02] #79 closed

[2020-11-12 05:32] ethercflow opened #80 "How to compare two kernel release? (one results copied from another machine)"
Hi, I'm benching CentOS 7 and CentOS 8 with `lkp-tests` on two machines, both have 3 runs. Then copied CentOS 7's result to CentOS 8's:

[code]

Then I run:

`lkp ncompare -s commit="3.10.0-1127.19.1.el7.x86_64.x86_64" -o commit="4.18.0-193.19.1.el8_2.x86_64" -a`

but got nothing.

So I want to know is there a way to compare two release? Thanks!

[2020-11-13 09:33] amaczuga opened #81 "Please stop removing changes from master branch history"
I just found the change 24a705 disappeared. Please work on feature branches before merging to master branch.
Thank you

[2020-11-13 12:27] rli9 commented on #81
Thanks for the reminder, I will take care of this.

[2020-11-16 09:41] xilabao commented on #80
@ethercflow
not sure which commit was run in local, you can generate the file for the copied commit: /lkp/data/mresult_root/linux_perf/index/DataStore::AxisIndex-commit/$commit, then 'lkp ncompare' works

[2020-11-17 13:41] ethercflow commented on #80
Thanks! I'll try it when I get the env back.

[2020-11-19 11:18] Ankita-020696 opened #82 "Cannot install some packages in lkp-tests/distro/depends/lkp"
Hi,
I am trying to port lkp-tests for customized distro & and I need that updated sources should work on both x86 & customized distro.
The updated sources are working fine  with customized distro but after running lkp install on ubuntu(X86) get following error,
**$ sudo lkp install
Cannot install some packages in lkp-tests/distro/depends/lkp**

How do I fix this?

Thanks

[2020-11-20 02:25] xilabao commented on #82
@Ankita-020696 the program was stopped at below position, you can comment out the "exit 1" and install the "generic_packages" manually.
[code]

[2020-11-20 09:16] Ankita-020696 commented on #82
Is there any generic way so that without commenting, I can use same source for both distributions?

Thanks

[2020-11-20 09:16] Ankita-020696 commented on #82
Is there any generic way so that without commenting, I can use same source for both distributions?

Thanks

[2020-11-23 02:43] xilabao commented on #82
If you met the problem like the below one, you can add the mapping in distro/adaptation/$SYSTEM

[code]

[2020-11-23 08:35] ethercflow commented on #80
Hi @xilabao , thanks for your help!

I tried to **generate the commit file** for 3.10 as follows:

[code]

Then run
[code]

This time I can get the compared result, but all the item of `3.10.0-1127.19.1.el7.x86_64` is zero.

![image](https://user-images.githubusercontent.com/38067786/99941489-10d43e00-2da9-11eb-9c87-035424ab802d.png)

And `lkp result schbench` still shows 4.18 only

[code]

Is the

[2020-11-23 09:54] xilabao commented on #80
@ethercflow
The empty value in `lkp ncompare` is due to no result root found in /lkp/data/mresult_root/linux_perf/storage/
[code]

It's anther problem, you need to save the result path in /lkp/paths/
[code]

[2020-11-23 11:52] ethercflow commented on #80
Thanks a lot!

[2020-11-23 11:52] #80 closed

[2020-12-28 05:03] Ankita-020696 opened #87 "ERROR: One or more files did not pass the validity check! Install aim9 failed"
Hi,
I am getting **Install aim9 failed** error with aim9-lkp run.

 aim9::
==> Making package: aim9 1-1 (Mon Dec 28 10:28:48 IST 2020)
==> Checking runtime dependencies...
==> Checking buildtime dependencies...
==> Retrieving sources...
  -> Downloading s9110.tar.Z...
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   To

[2020-12-28 07:50] xilabao commented on #87
Hi @Ankita-020696 , the official link is broken, you can modify the source link in  pkg/aim9/PKGBUILD

[code]

[2020-12-28 08:39] Ankita-020696 commented on #87
Thank you

[2020-12-28 08:39] #87 closed

[2020-12-31 05:57] Ankita-020696 opened #88 "nr_threads becomes 0, rm"
Hi,
I am getting following error, what could be the reason?
**$ lkp run ./hackbench-pipe-10-process-50%.yaml
nr_threads becomes 0, rm
Traceback (most recent call last):
	6: from /home/root/lkp/lkp-tests/bin/run-local:131:in `<main>'
	5: from /home/root/lkp/lkp-tests/lib/job.rb:691:in `expand_params'
	4: from /home/root/lkp/lkp-tests/lib/job.rb:77:in `for_each_in'
	3: from /home/root/lkp/lkp-tests/

[2021-01-04 06:33] xilabao commented on #88
I can reproduce it if I changed "nr_threads: 50%" to "nr_threads:", could you check the item in the file? @Ankita-020696
[code]

[2021-01-04 06:45] Ankita-020696 commented on #88
I have "nr_threads: 50%" still facing this error.

[code]

[2021-01-04 07:10] xilabao commented on #88
could you run the below command and upload the result? btw, are you using the latest code?
[code]

[2021-01-04 09:44] Ankita-020696 commented on #88
[code]

[2021-01-04 11:58] Ankita-020696 commented on #88
Yes I am using latest code.
[code]

[2021-01-05 07:19] xilabao commented on #88
@Ankita-020696 nr_threads can't be 50% if the cpu number < 2, I guess the cpu number in your environment is 1.
[code]

[2021-01-11 08:53] Ankita-020696 commented on #88
Thanks

[2021-01-11 08:53] #88 closed

[2021-01-11 08:54] #82 closed

[2021-02-01 07:02] #81 closed

[2021-02-01 07:02] #75 closed

[2021-02-01 07:04] rli9 commented on #77
Closed due to no update for 1 month.

[2021-02-01 07:04] #77 closed

[2021-02-01 07:04] rli9 commented on #70
Closed due to no update for 1 month.

[2021-02-01 07:04] #70 closed

[2021-02-01 07:06] rli9 commented on #44
Closed due to no update for 1 month.

[2021-02-01 07:06] #44 closed

[2021-02-01 07:07] #54 closed

[2021-02-01 07:07] #50 closed

[2021-02-01 07:07] #55 closed

[2021-02-01 07:08] rli9 commented on #67
Closed due to no update for 1 month.

[2021-02-01 07:08] #67 closed

[2021-03-09 20:28] Magnani95 opened #101 "ebizzy test run error"
Following to documentation passage to run the ebizzy test (lkp install, split-job, job install and job run; everything with sudo) cause the following output:
[code]
If I create the two directory, then I get:
[code]
I modified the script at `/home/andrea/Documents/test-definitions/automated/linux/lkp/lkp-tests/tests/ebizzy` to print the current directory, and as you can see, it's `/lkp/benchmarks/e

[2021-03-18 06:17] xilabao commented on #101
Hi @Magnani95  could you try the '-f' option of `lkp install` command ?
e.g. `lkp install -f ./ebizzy-10s-100x-200%.yaml`

[2021-03-23 19:57] Magnani95 commented on #101
Thank you, it worked

[2021-04-02 19:00] #101 closed

[2021-07-15 13:28] Ankita-020696 opened #109 "+0530 WARN -- Jobfile is a dirty file, better to run 'lkp split-job --compatible ./vm-scalability-300s-small-allocs.yaml' first"
Hi,
How to resolve below error?

Thanks

[2021-07-16 07:43] xilabao commented on #109
Hi @Ankita-020696 , sorry about that, it should be fixed now, could you update the code and have a try?

[2021-07-16 08:20] Ankita-020696 commented on #109
Working
Thanks

[2021-07-16 08:20] #109 closed

[2021-07-20 08:23] MaXinjian commented on #69
@Ankita-020696  Do you mean use pseudo instead of fakeroot when makepkg?
Or you just don't want to use fakeroot. If this is the situation, we also support use pack to generate a package.

[2021-07-20 08:39] Ankita-020696 commented on #69
I want to use pseudo instaed of fakeroot.

[2021-07-20 08:46] MaXinjian commented on #69
Sorry, now we don't support pseudo. Maybe in the future.

[2021-07-20 09:01] Ankita-020696 commented on #69
Thank you for information.

[2021-07-20 09:01] #69 closed

[2021-08-09 10:49] Ankita-020696 opened #114 "+0530 WARN -- Jobfile is a dirty file, better to run 'lkp split-job --compatible ./chromeswap-5-uniform-0.25.yaml' first"
Hi
could you check this?

$ lkp run ./chromeswap-5-uniform-0.25.yaml
2021-08-09 16:18:34 +0530 WARN -- Jobfile is a dirty file, better to run 'lkp split-job --compatible ./chromeswap-5-uniform-0.25.yaml' first

[2021-08-10 01:18] xilabao commented on #114
@Ankita-020696  does this warning show with the latest code? I can't reproduce it, could you paste the full content of chromeswap-5-uniform-0.25.yaml?

[2021-08-10 07:34] Ankita-020696 commented on #114
I was using old source, updated it.
Now its working.

Thanks

[2021-08-10 07:34] #114 closed

[2021-08-23 08:43] Ankita-020696 opened #115 "Result of chromeswap benchmark"
Hi,
Can I get sample output of chromeswap benchmark? I need it for reference.

Thanks

[2021-08-25 05:53] zhijianli88 commented on #115
we have a sample in the code:
https://github.com/intel/lkp-tests/blob/fa6bc550117ec9a4eefa05b9ef34ca8a2d4c648c/spec/stats/chromeswap/1#L1

[2021-08-25 05:55] #115 closed

[2021-09-08 08:43] Ankita-020696 opened #116 "Add new benchmark to LKP"
Hi,
I am trying to add new benchmark to lkp. But after lkp run command getting following error.

Traceback (most recent call last):
	5: from /home/ankita/workspace/open_source/lkp-tests/bin/run-local:168:in `<main>'
	4: from /home/ankita/workspace/open_source/lkp-tests/lib/result_root.rb:380:in `convert_mrt'
	3: from /home/ankita/workspace/open_source/lkp-tests/lib/result_root.rb:338:in `convert_o

[2021-09-09 03:23] zhu1fei commented on #116
should add case info in  lib/stats.rb#LinuxTestcasesTableSet。

BTW: refer to :https://github.com/intel/lkp-tests/commit/bf8abb299

[2021-09-09 06:50] #116 closed

[2022-01-17 12:43] Ankita-020696 opened #121 "Cannot find "install" command under /{bin,sbin,tools,lkp-exec}/"
Hi,
I am facing following error on raspberrypi.

What could be the reason?

Thanks

[2022-01-27 06:28] xilabao commented on #121
the command in busybox is different with the normal one.
[code]

[2022-02-16 06:13] bssrikanth commented on #23
Is there any action taken against this request? its one of the useful feature for us.

[2022-02-17 02:51] rli9 commented on #23
Sorry for late update, we will work on this soon and provide update to you next week.

[2022-02-17 03:59] bssrikanth commented on #23
thank you @rli9

[2022-02-17 04:37] bssrikanth commented on #23
Adding more details:

Currently I have run LKP ebizzy benchmarks on two different machines. And have aggregated the results on one of the servers.

`lkp result ebizzy` is able to detect results copied. dellj853host and dellj853host are the two different hosts.

[code]

`lkp ncompare` seems not supporting comparison of results from aggregated results pool containing results from 2 hosts.

![image](

[2022-02-23 05:06] xilabao commented on #23
@bssrikanth  we have added a new tool to handle this, please see https://github.com/intel/lkp-tests/commit/70956cd0ef259ead1ba1a060fa7689f915a74cad

[2022-02-23 08:59] bssrikanth commented on #23
@xilabao thank you!!, will give it a try and get back here.

[2022-02-23 15:19] bssrikanth commented on #23
@xilabao can you please post more generic examples parameters to be used with this tool? the examples in commit message are bit confusing to me, it would be good if you can callout the parameters more generically.
Secondly I do not see `lkp` help showing help message this new tool, I think thats something being already worked on.

[2022-02-24 07:13] xilabao commented on #23
@bssrikanth can you share more details from your side? so we can consider to support more cases in the tool.

sorry about that, which part make you confused?

sure,  a pull request to the repo is also welcome.

It depends, if not many people use this tool, we may not list it in the help message, as the last line said:
"More commands can be found in /home/xxx/code/lkp/lkp-src/{bin,sbin,tools}/"

[2022-02-25 03:50] bssrikanth commented on #23
@xilabao I am looking for getting ncompare results from the aggregated pool of result from multiple hosts. More details are at https://github.com/intel/lkp-tests/issues/23#issuecomment-1042567919. With this new tool can you please let me know parameters to pass to lkp ncompare?

[2022-02-25 03:59] xilabao commented on #23
@bssrikanth
1. if you already copied the results to the local host
please run `lkp merge LOCAL_RESULT_DIR` , e.g. `lkp merge /lkp/result/ebizzy/10s-5x-200%/dellj853host`

2. if not
 please run `lkp merge -r REMOTE_HOSTANEM REMOTE_RESULT_DIR `, it will run `rsync` command to copy results to local host and add results to local database.

[2022-02-25 04:03] bssrikanth commented on #23
@xilabao thanks for the quick reply. Sure I will give this a try and get back here.

[2022-02-28 12:32] bssrikanth commented on #23
I reran few tests across machines, this time I used merge option [not manually copy as I did previous time] and then ncompare works good. I am in process of running few other scenarios which could be part of our usecases, will update the results once those are done.

[2022-03-08 09:18] bssrikanth commented on #23
@xilabao @rli9 update: I ran various test scenarios covering multiple test machines, multiple benchmarks, multiple distros. Using the new merge tool I am able to aggregate and parse results as expected. Thank you.

[2022-03-30 13:37] bssrikanth opened #128 "ncompare, _rm broken on latest lkp-tests"
One a machine where I have latest build of lkp-tests [head-> 93e671505f1793446a1c50f120a47b732bce6974], I see ncompare being broken,

[code]

Same ebizzy results if I remote merge and do a ncompare on another server [where lkp-tests head -> 6ccdc974b68db4bab9e6bb49994e581ce26824bc] it works well:

[code]

I am running on RHEL 8.4, with ruby 2.5.9p229 (2021-04-05 revision 67939) [x86_64-linux]

[2022-03-30 17:12] lsgunth opened #129 "Split Job appears broken"
With the latest master branch, trying to reproduce a test fails on the split-job test:

[code]

This seems to have been introduced in 9e624cd599f54 as checking out before that commit seems to work fine.

I'm running on a Debian Bullseye system with ruby 2.7.4p191

[2022-03-31 02:29] Yujie-Liu commented on #129
Hi @lsgunth , sorry for the inconvenience. We did some code refactoring recently and caused this bug. It has been fixed now. Please kindly pull the latest master branch to rerun the test, thanks.

[2022-03-31 03:36] bssrikanth commented on #128
Also seeing issues with lkp _rm:
[code]

[2022-03-31 03:37] bssrikanth commented on #128
I see a comment in #129 that some of regressions are fixed, so will retry with latest branch.

[2022-03-31 04:49] bssrikanth commented on #128
I saw that fix posted #129  was for split-job, I still see issues with ncompare and _rm on latest build:

[code]

[2022-03-31 07:49] xilabao commented on #128
Hi @bssrikanth, please update to the latest code and remove the `/lkp/data/mresult_root/linux_perf` directory, could you give it a shot?

[2022-03-31 09:33] bssrikanth commented on #128
@xilabao  I update lkp to latest code. Still I see same issue after deleting the mentioned folder.

[code]

[2022-03-31 10:56] xilabao commented on #128
@bssrikanth sorry, forgot to mention that old results are broken, you need to run `lkp merge  RESUTL_ROOT` , .e.g `lkp merge /lkp/result/hackbench/socket-8-threads-1600%/dellj853host/rhel/defconfig/gcc/5.16.2-build43/`

[2022-03-31 11:33] bssrikanth commented on #128
I had not used old results. The results folder I mentioned were freshly run with lkp installed from latest lkp-tests master. Hope that would not require lkp merge, please confirm.

[2022-03-31 12:04] xilabao commented on #128
were these results generated (use`lkp run`) by new code after you removed `/lkp/data/mresult_root/linux_perf` ? @bssrikanth

[code]

[2022-03-31 12:10] bssrikanth commented on #128
Yes that's correct, new results after removing that folder

[2022-03-31 13:20] xilabao commented on #128
Below are my results, can you share the results in your environment?
[code]

[2022-03-31 15:45] lsgunth commented on #129
Thanks! It seems to be fixed today.

[2022-03-31 15:45] #129 closed

[2022-04-01 05:19] bssrikanth commented on #128
@xilabao below are more details,

Recreate steps with latest lkp code [ head -> 5953709d9512933e335ddb8c297ec5dec2f82804 ] , noticed that stack trace is a bit different compared to what I hit before:

	1. Remove linux_perf, before running hackbench with latest lkp:
	[root@dellj853host LKP]# rm -rf /lkp/data/mresult_root/linux_perf/

	2. Run hackbench
	[root@dellj853host LKP]# lkp run ./hackbench.y

[2022-04-01 06:02] xilabao commented on #128
@bssrikanth I can't reproduce it, can you remove the whole directory "/lkp/data/mresult_root/" and try again?

[2022-04-01 06:22] bssrikanth commented on #128
@xilabao that worked..
[code]

Question: we have few runs of benchmarks which we had done with older version of LKP, is there a way to port them to new layout/changes done recently in LKP?

[2022-04-01 06:58] xilabao commented on #128
1. remove /lkp/paths (optional) to avoid duplicate paths in the output of command `lkp rt`
2. run `lkp merge /lkp/result` to generate new data for old results.

[2022-04-26 08:49] #128 closed

[2022-05-27 01:28] rli9 commented on #23
Thanks @bssrikanth, I will close the issue, and if there's new request, feel free to raise it.

[2022-05-27 01:28] #23 closed

[2022-05-31 10:21] bssrikanth opened #136 "unixbench: install issue on ubuntu-20.04 and ubuntu-21.04"
ubuntu21.04 and ubuntu 20.04 repos seem to contain perl-modules-5.32 and perl-modules-5.30 instead of perl-modules-5.26 which is what unixbench dependencies try to install via lkp install. Similarly  ubuntu21.04 and ubuntu 20.04 repos seem to contain libperl5.32 and libperl5.30 instead of libperl5.26 which is currently present in distro/adaptation/ubuntu.

I tried removing version information from

[2022-06-01 14:38] Yujie-Liu commented on #136
@bssrikanth We have updated the adaptation files for ubuntu 20.04 and 21.04, would you mind give a try on the latest code base? thanks.

[2022-06-02 04:16] bssrikanth commented on #136
Thanks @Yujie-Liu , have tested with latest version and things works as expected. Closing.

[2022-06-02 04:16] #136 closed

[2022-06-02 07:23] yu-chen-surf opened #137 "Install lkp-tests dependency on Centos 8 get python34 error"
Running lkp install will-it-scale.yaml reported the following error:

...
Use: lkp-tests/distro/installer/centos install openssl-devel procps python3-argcomplete python3-colorama python3-paramiko python34 rsync util-linux
Failed to set locale, defaulting to C.UTF-8
Last metadata expiration check: 0:04:20 ago on Thu Jun  2 14:30:02 2022.
Package openssl-devel-1:1.1.1k-6.el8.x86_64 is already instal

[2022-06-02 08:32] #137 closed

[2022-06-02 08:32] yu-chen-surf commented on #137
Changed it to python36 fixed the issue.

[2022-06-25 15:09] xosevp opened #142 "outdated info and releases for some net test packages"
* nuttcp (latest 8.2.2):
url: http://nuttcp.org
source: http://nuttcp.org/nuttcp/
* netpipe (latest 5.1.4, fixes in https://gitlab.beocat.ksu.edu/daveturner/netpipe-5.x repo):
url: https://netpipe.cs.ksu.edu
source: https://netpipe.cs.ksu.edu/download/
* netperf (latest 2.7.0, fixes in git repo):
url: https://hewlettpackard.github.io/netperf/
source: https://github.com/HewlettPackard/netperf/tags

[2022-06-28 06:54] care101 commented on #142
thanks, but can't access 'https://netpipe.cs.ksu.edu', could you offer another link to get latest version of netpipe?

[2022-06-28 11:53] xosevp commented on #142
I do not have any problem with it.
https://netpipe.cs.ksu.edu/ is up and online.

You can see it at:
https://web.archive.org/web/20210501032326/https://netpipe.cs.ksu.edu/
https://archive.ph/DgExb

There is a mirror at https://fossies.org/ :
https://fossies.org/linux/privat/NetPIPE-5.1.4.tar.gz/

[2022-07-04 07:31] bssrikanth opened #144 "local lkp runs are failing"
When I try to run lkp locally, its failing with below error:
[code]
Local runs were working fine when I ran tests a week back, this issue seems to be a regression.

[2022-07-04 07:33] bssrikanth commented on #144
I hit above issue while running ebizzy/hackbench.. but unixbench seems running fine locally.

[2022-07-04 07:42] bssrikanth commented on #144
This failure is not seen with all benchmarks.. ebizzy/hackbench seems hitting this issue.. not unixbench.. will be adding more details as and when I find things while debugging issue.. if you have any hints on failure please share.

[2022-07-04 08:04] Yujie-Liu commented on #144
Hi @bssrikanth, sorry for the inconvenience. We did some code cleanup recently which unfortunately led to this regression. It needs to have a `require "#{LKP_SRC}/lib/bash"` in lib/job.rb. We'll fix it ASAP.

[2022-07-04 08:20] bssrikanth commented on #144
Thank for quick update @Yujie-Liu .
Update from my debugging, thought it might help: On my setup I reverted to commit 57a1ac0cf29c7567d3076c5c885f35525c275935, where I do not hit this issue.

[2022-07-04 08:22] bssrikanth commented on #144
I just saw https://github.com/intel/lkp-tests/commit/978bc576b930af6868f531eabdf77e8392a81149 .. thank you,I will test that and get back here.

[2022-07-04 08:32] #144 closed

[2022-08-10 05:42] bssrikanth opened #148 "distro/depends packages conflict"
I am facing few issues installing perf/pmu-tools on RHEL, where `libpython2.7` is not available. Instead we need to use `python2-libs`. I have made this change locally and proceeding with benchmark runs. But with this change, things will break on ubuntu where only `libpython2.7` is available.

Any suggestions on how to handle distro specific package dependencies for tools-dependencies currently un

[2022-08-11 03:46] bssrikanth commented on #148
Update: I have a patch for this issue. Will be sending a PR soon.

[2022-08-11 11:05] bssrikanth commented on #148
Closing as PR is submitted which takes care of the said issue as well.

[2022-08-11 11:05] #148 closed

[2022-08-18 05:13] care101 commented on #142
@xosevp sorry for the late response, we have updated the repo and used the latest version. Thanks!

- nuttcp
ver: 8.2.2
url: http://nuttcp.org/nuttcp
source: http://nuttcp.org/nuttcp/nuttcp-8.2.2/bin/nuttcp-8.2.2.fc32.x86_64
- netpipe
ver: 5.1.4
url: https://fossies.org/linux/privat/NetPIPE-5.1.4.tar.gz
source: https://fossies.org/linux/privat/NetPIPE-5.1.4.tar.gz
- netperf
ver: 2.7.0
url: https:/

[2022-08-24 03:00] NgSherly opened #153 "Feature: Support comparing result of 2 different machine with only one dimension and other are ignore"
Please help to evaluate and consider to enhance the lkp ncompare feature by enabling of comparing result of 2 different machine with only one dimension  and other are ignored.

For example:
**Machine A:**
Hostname: flexbj-riscv
Commit: 5.19.0
Compiler: gcc-11
OS: Ubuntu

**MachineB:**
Hostname: flexbj-x86
Commit: 5.13.0-41-generic
Compiler: gcc-9
Os: Ubuntu

Example output of comparing based on ho

[2022-08-29 01:28] xilabao commented on #153
Hi @NgSherly , we have supported this feature, could you give it a try? the example is in the changelog of commit 71e95bbec8aaa0727d7a1f103c528b6329b0b39f

[2022-09-01 02:54] NgSherly commented on #153
if with the command of **"lkp ncompare -c tbox_group -j /lkp/result/stream/10000000-100%-true/flexbj-riscv3/ -j /lkp/result/stream/10000000-100%-true/flexbj-up2 -a**" , i can get the result comparison output as below:
   flexbj-riscv3                  flexbj-up2
---------------- ---------------------------
       fail:runs  %reproduction    fail:runs
           |             |             |

[2022-09-02 00:21] xilabao commented on #153
Hi @NgSherly, we have updated the code to support them, please refer to the changelog in https://github.com/intel/lkp-tests/commit/8174f49f5741f22487b2b9ddde0e0f14092c9cdf

[2022-09-02 06:52] NgSherly commented on #153
hi @xilabao , i still not able to get the output with this latest changes.
Both of the command below also doesn't work.

lkp ncompare -s testcase=stream/commit="5.19.0-00005-gf4d0609f50ba" -o commit="5.15.0-43-generic" -a
lkp ncompare -s testcase=stream/commit="5.19.0-00005-gf4d0609f50ba"/tbox_group=flexbj-riscv3 -o commit="5.15.0-43-generic"/tbox_group=flexbj-up2

[2022-09-02 06:57] xilabao commented on #153
@NgSherly can you share the two result_root paths? e.g. /result/netperf/cs-localhost-performance-ipv4-16-300s-TCP_CRR-ucode=0x7002501/lkp-cpl-4sp1/debian-11.1-x86_64-20220510.cgz/x86_64-rhel-8.3/gcc-11/7ce2aa6d7fe121e243e1c8a8093911fecdf1c88e

[2022-09-02 07:15] NgSherly commented on #153
Here is the resutl root path:
/lkp/result/stream/10000000-100%-true/flexbj-riscv3/ubuntu/defconfig//etc/alternatives/gcc/5.19.0-00005-gf4d0609f50ba
/lkp/result/stream/10000000-100%-true/flexbj-up2/ubuntu/defconfig/gcc-11/5.15.0-43-generic

[2022-09-02 07:33] xilabao commented on #153
the path looks wrong, '/etc/alternatives' is a typo?

can you try the below command?
`lkp ncompare -s testcase=stream/commit="5.19.0-00005-gf4d0609f50ba"/tbox_group=flexbj-riscv3/compiler=gcc -o commit="5.15.0-43-generic"/tbox_group=flexbj-up2/compiler=gcc-11 -a`

[2022-09-02 07:35] NgSherly commented on #153
still no output

[2022-09-02 07:40] xilabao commented on #153
can you run `lkp merge` for the path again? "/etc/alternatives" shouldn't exist.
/lkp/result/stream/10000000-100%-true/flexbj-riscv3/ubuntu/defconfig//etc/alternatives/gcc/5.19.0-00005-gf4d0609f50ba

and is there any output if using `lkp ncompare -j path1 -j path2` -a?

[2022-09-02 07:44] NgSherly commented on #153
i have the "/etc/alternatives/gcc" path for the compiler.
"lkp ncompare -c tbox_group -j /lkp/result/stream/10000000-100%-true/flexbj-riscv3/ -j /lkp/result/stream/10000000-100%-true/flexbj-up2 -a " is working fine.

[2022-09-02 07:53] xilabao commented on #153
okay, I see,  the path can't be parsed by `lkp ncompare`, the items in "testcase=stream/commit="5.19.0-00005-gf4d0609f50ba"/tbox_group=flexbj-riscv3" are divided by '/', you can change the compiler name in job.yaml and run `lkp merge`, than lkp ncompare can compare with the new name.

[2022-09-02 08:07] NgSherly commented on #153
i tried to edit compiler name in the job file and run lkp merge.
Weird that i need to put testcase, commit and tbox_group in order to get the output, else, there is no output.
![image](https://user-images.githubusercontent.com/62603756/188088154-41aa2e47-1f79-4788-bd27-2848b1659411.png)

[2022-09-02 08:12] xilabao commented on #153
yes, it's expected, only when there are more than one item in "-o" option, it can be compared, otherwise, `lkp ncompare` will keep the strict limit to only compare the target item.

[2022-09-02 08:26] NgSherly commented on #153
Got it. Noted and thanks! :)

[2022-09-13 12:45] NgSherly commented on #153
![image](https://user-images.githubusercontent.com/62603756/189903881-360f7cca-379c-458c-b645-fa7d2926b6e7.png)
seem like it can display all the test belong to the same testcase probably on same page.

it only can display single test by fixing the "test" in the command:
![image](https://user-images.githubusercontent.com/62603756/189904445-6b622b5f-cf3f-4078-8441-fa3744ad5168.png)

[2022-09-14 00:22] xilabao commented on #153
Yes,  option --search/-s is to find all paths that match the rules.

[2022-09-29 05:22] SSapkal opened #176 "Warning messages after running tinymembench through LKP"
Hi @rli9,

I am working on integrating tinymembench with LKP. Currently after running tinymembench via LKP I am seeing following warning messages. This is because tinymembench outputs standard deviation values only if its greater than 0.1%. How can we avoid these warning messages?

[code]

[2022-09-30 06:11] bssrikanth commented on #176
@rli9 if these are harmless I think we can ignore them?

[2022-10-10 04:46] SSapkal commented on #176
Thanks for the help. Closing this issue as the warnings are harmless.

[2022-10-10 04:46] #176 closed

[2022-10-26 01:47] gongwuchun opened #179 "Feature: Support use pre-installed perf while local run LKP"
It takes a long time to build perf on riscv dev board currently due to poor performance, is it possible to use pre-installed perf instead of build from src while local run LKP?

[2022-11-03 10:12] bssrikanth opened #185 "lkp run on RHEL 9 hitting issues"
On RHEL9, when ever I run lkp benchmarks I see below error at the end of the run [which is not the case with RHEL 8.x]:
[code]
I have tried removing the whole directory "/lkp/data/mresult_root/" and have rerun, hitting same issue on RHEL 9. Any other possible solutions please let me know.

[2022-11-03 11:10] rli9 commented on #185
Hi Srikanth, this could be related to ruby version, the code works in ruby 2.5. Can you share the version on rhel 9? We will think of this for how to support a different version.

[2022-11-03 11:19] bssrikanth commented on #185
@rli9 RHEL 9 seem to come with `ruby 3.0.4p208` where as RHEL 8.x has `ruby 2.5.9p229`

[2022-11-04 11:22] rli9 commented on #185
hi @bssrikanth, can you give a try to see whether the issue still exists? I'm not sure whether other places will be impacted due to ruby version, if any, we will follow up to address.

[2022-11-10 13:16] bssrikanth commented on #185
Hi @rli9 with latest code I am not seeing the issue. Thank you.

[2022-11-10 13:16] #185 closed

[2022-11-14 00:53] jie2xzhou commented on #179
commit 1d61790494a3732a5b8b1daf5682cdf76208a5d5 (HEAD -> master, origin/master, origin/HEAD)
Author: Jie2x Zhou <jie2x.zhou@intel.com>
Date:   Sun Nov 13 19:47:14 2022 +0800

    lkp-exec/install: support use pre-installed perf while local run LKP

    Not install perf from src when have perf in system.

    Reproduce step:
    $ git clone https://github.com/intel/lkp-tests.git
    $ cd lkp-tests

[2022-11-17 06:34] bssrikanth opened #190 "Query on LKP results/compare"
Currently via lkp command line we can query results for required commits. Is there a way for a user to query and get comparison results of commit/benchmarks via GUI interface?

[2022-11-17 11:44] bssrikanth opened #191 "tbench build fails on RHEL 8,9,Ubuntu 22.04"
I am trying to get tbench run working with LKP.

Currently I am seeing failures in tbench build, which is currently fetched from repo `https://git.samba.org/sahlberg/dbench.git/?p=sahlberg/dbench.git;a=summary`, across RHEL8,RHEL 9 and Ubuntu [atleast 22.04].

[code]
Looks like rpc/rpc.h is no longer available in recent distros.

In order to get past this issue I modified pkg/tbench/PKGBUILD to fe

[2022-11-18 11:44] rli9 commented on #191
thanks @bssrikanth how about adding libc6-dev as depends, which include rpc/rpc.h?
[code]

[2022-11-18 11:48] rli9 commented on #190
Thanks for checking, currently GUI is not supported, and lkp team will not support it in a short time though this is quite friendly.

[2022-11-21 05:22] bssrikanth commented on #191
thanks for pointers @rli9. On Ubuntu 22.04, I dont see rpc/rpc.h part of libc6-dev. Instead its been packaged with `libtirpc-dev:/usr/include/tirpc/rpc/rpc.h`. Same thing with fedora/centos/rhel I understand from https://fedoraproject.org/wiki/Changes/SunRPCRemoval.

Before using a different repository for tbench, which I mentioned in description, I had tried modifying existing pkg/tbench/PKGINSTA

[2022-11-22 06:42] bssrikanth commented on #191
Saw this https://github.com/intel/lkp-tests/commit/ef8a8e19b80ae369534a7ae5bc753b1a5bae5034 .. will test the same and get back. Thank you

[2022-11-23 15:57] bssrikanth commented on #191
Have tested latest lkp source with tbench fix on RHEL 8.7, RHEL 9.0/1 and Ubuntu 22-04:

In summary: With updates to adaptation packages as mentioned below tbench runs fine on ubuntu 22-04 and  RHEL 9.x. But on RHEL 8.7 we still see tbench build issues, something which could be related to rpcgen version which comes with RHEL 8.x.

Changes with which tbench run fine on RHEL 9.x and Ubuntu 22.04:

[

[2022-11-24 03:07] bssrikanth commented on #190
@rli9 thanks for the update on it, followup on the same topic: I see `lkp compare` with options `plot bar graph` -> i could not get it working. If there are any documentation on the same please share.